<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
    <div *ngFor="let product of products">

        <mat-grid-tile class="mat-grid-tile">
            <product-item [product]="product" (click)="getDetails(product)"></product-item>
        </mat-grid-tile>

    </div>
</mat-grid-list>