
<my-nav [isHome]="false"></my-nav>

<mat-grid-list cols="1" rowHeight="2:1" class="prod-detail-grid">


        <mat-grid-tile class="mat-grid-tile" id="upper-tile">
          <mat-card>
            <div class="img-main-container">
              <img class="img-main" src="../../assets/img/{{ product.mainImg }}">
            </div>
            <mat-card-title>{{ product.name }}</mat-card-title>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile class="mat-grid-tile">
            <div class="prod-details-content">
                <mat-card-subtitle>
                  
                    <p>{{ product.desc }}</p>
                </mat-card-subtitle>
            </div>    
        </mat-grid-tile>
        

</mat-grid-list>
