.prod-detail-grid{
    margin-top: 30px;

}

.img-main{
    width: 30%;
    height:30%;
    border-radius: 50%;
}

.img-main-container{
    margin-bottom: 15px;
}

.prod-details-content{
    text-align: center;
    width: 50%;
}

#upper-tile{
   
}