.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content-right{
  background: #b6f9d3;
}

.mat-toolbar-right{
  background-color: #65f2a2;
 
}

.grid-layout{
  margin-top: 50px;
}

.list-icon{
  margin-right:8px;
}

.search{
  border: 1px solid #ddd;
}