<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="search"><mat-icon class="list-icon">search</mat-icon> Where to go?</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon class="list-icon">favorite_border</mat-icon> Most Popular</a>
      <a mat-list-item href="#"><mat-icon class="list-icon">whatshot</mat-icon> Hot Deals</a>
      <a mat-list-item href="#"><mat-icon class="list-icon">flight</mat-icon> My Travels</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav-content-right">
    <mat-toolbar class="mat-toolbar-right" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button

        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TRIPSIA</span>
    </mat-toolbar>

    <!-- main content -->

    <div class="grid-layout" *ngIf="isHome">
      <app-grid></app-grid>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
