<mat-card class="product-card">

  <mat-card-header>
    <mat-card-title class="mat-card-title">{{ product.name }}</mat-card-title>
    <mat-card-subtitle>Price: {{ product.price }}€</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image class="mat-card-image" src="../../assets/img/{{ product.gridImg }}"/>
  
</mat-card>