mat-card{
    border-radius: 20px;
    width: 270px;
}

mat-card:hover{

    opacity: 0.9;
    cursor: pointer;
}

.mat-card-title{
    font-size: 18px;
}

.mat-card-image{
 
    max-width: 300px;
    height: 165px;
    border-radius: 5px;
}

.overlay{
    position: absolute;
    margin-top: -80px;
    /*
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 255, 255);*/
}

.text-over{/*
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;*/
}

.text-over:hover{/*
    display: block;*/
}